# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
js/

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
react-native/android/src/main/jniLibs/*

ios/.DS_Store
android.iml
android/.gradle
# BUCK
buck-out/
\.buckd/
*.keystore

#rust
rust/signer/target

# flapigen
ffi/python/libs
test_db
